html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  line-height: 180%;
  font-family: Verdana, desdemona, Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #171717;
}
h1,
h2,
h3 {
  margin-top: 0px;
  font-family: verdana, desdemona, Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}
p,
ol,
ul {
  margin: 0px;
  padding: 0px;
}
ol {
  padding-left: 40px;
}
strong {
  color: #565656;
}
a {
  color: #17161B;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}
img.border {
  border: 1px solid #C0C0C0;
}
img.alignleft {
  float: left;
  border: 1px solid #C0C0C0;
}
img.alignright {
  float: right;
}
img.aligncenter {
  margin: 0px auto;
}

/** WRAPPER */

.container {
  width: 980px;  /* Total width of the container */
  margin: 0px auto;
}
.clearfix {
  clear: both;
}
.text-center {
	text-align: center;
}

/** PAGE */

#page {
  overflow: hidden;
  margin-bottom: 10px;
}

/** HEADER */
#header {
  margin: 20px 0 0 230px; /* If you change the width of the columns, don't forget to adjust the left margin of the menu (230px) */
}

/** CONTENT */

#content {
  float: right;
  width: 740px; /* Width of the right column */
  padding-top: 30px;
}

#content p {
	margin: 15px 0;
	line-height: 300%;
}

.questionare-radio-image .radio-option {
	width: 30%;
	display: inline-block;
	overflow: hidden;
	height: 200px;
}

.questionare-radio-image .radio-option.empty {
	width: 7%;
}

.questionare-radio-image .radio-option input {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.questionare-radio-image .radio-option img {
	max-width: 100%;
	cursor: pointer;
}

/** SIDEBAR */

#sidebar {
	float: left;
  width: 195px; /* Width of the left column */
  margin: 0px;
  padding: 30px 0px 0px 5px;
}

#sidebar .buttons {
  position: relative;
	text-align: left;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

#sidebar .buttons  span {
  position: absolute;
  left: 0;
  top: 5px;
}

#sidebar .buttons img {
	width: 30px;
	height: 30px;
	border: 0;
	cursor: pointer;
  margin-left: 93px;
}

/** BOX-STYLE */

.box-style .title {
  margin: 0px;
  padding: 0px;
  letter-spacing: -1px;
  font-size: 18px;
  font-weight: normal;
  color: #3D3D3D;
}
.box-style .subtitle {
  margin: 0px;
  padding: 0px;
  letter-spacing: +1px;
  font-size: 15px;
  font-weight: normal;
  color: #3D3D3D;
}
.box-style .date {
  display: inline-block;
  height: 21px;
  margin: 25px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
  background: #5D7900;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #FFFFFF;
}
.box-style .text1 {
  display: inline-block;
  height: 21px;
  margin: 25px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
  background: #5D7900;
  font-family: fantasy, Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #FFFFFF;
}
.box-style .more {
  display: block;
  margin-top: 30px;
  padding: 0px 0px 0px 25px;
  background: url(images/homepage03.gif) no-repeat left 2px;
}
.box-style .link {
  float: left;
  margin-top: 15px;
  padding: 0px 0px 10px 20px;
  background: url(images/homepage06.gif) no-repeat left 3px;
}
.box-style .byline {
  letter-spacing: 1px;
  padding: 0px 0px 5px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: normal;
  color: #3B3C3B;
}
.box-style .alignleft {
  float: left;
  margin-right: 10px;
}
.box-style .img1 {
  width: 172px;
  height: 113px;
  margin-bottom: 10px;
  padding: 15px 15px;
}
.box-style .img2 {
  float: left;
}
.box-style .content {
  padding: 10px 5px 0px 5px;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}
.collapse-inner {
  padding-left: 20px;
}
.collapse-inner  > .collapse-inner {
  padding-left: 30px;
}
.collapse-content {
  margin-bottom: 10px;
}

/*////////MENU//////////*/

#menu {
  margin: 10px 0px;
  list-style: none;
  background: #3d3b3b;       /* menu background color, Sergey:#f2efe4  */

  -moz-border-radius: 25px;
  border-radius: 25px;
  -moz-box-shadow: 0 2px 1px #b6b6b6;
  -webkit-box-shadow: 0 2px 1px #b6b6b6;
  box-shadow: 0 2px 1px #b6b6b6;
  display: block;
  text-align: center;
}
#menu li {
  position: relative;
  line-height: 0;
  display: inline-block;
}
#menu a {
  padding: 10px 15px;
  color: #f2efe4;             /* menu font color Sergey:#4c3327 */

  text-transform: uppercase;
  font: bold 12px/25px Arial, Helvetica;
  text-decoration: none;
  text-shadow: 0 0px 0 #000;
  display: inline-block;
}
#menu li > a:hover {
  color: #f2efe4; /* menu background color, Oprindeligt #000 */

}
*html #menu li a:hover
/* IE6 */

{
  color: #000;
}
#menu li:hover > ul {
  display: block;
}
/* Sub-menu */

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 99999;
  background: #444;
  background: -moz-linear-gradient(#444, #111);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
  background: -webkit-linear-gradient(#444, #111);
  background: -o-linear-gradient(#444, #111);
  background: -ms-linear-gradient(#444, #111);
  background: linear-gradient(#444, #111);
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
  box-shadow: 0 0 2px rgba(255, 255, 255, .5);
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#menu ul ul {
  top: 0;
  left: -150px;
}
#menu ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
  -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}
#menu ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#menu ul a {
  padding: 10px;
  height: 10px;
  width: 130px;
  height: auto;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
  color: #f2efe4;             /* dropdown submenu font color */
}
*html #menu ul a
/* IE6 */

{
  height: 10px;
}
*:first-child+html #menu ul a
/* IE7 */

{
  height: 10px;
}
#menu ul a:hover,
#menu ul a:visited {
  background: #e1dbc2;        /* dropdown submenu background color */
}
#menu ul a:visited {
  color: #f2efe4;
}
#menu ul li:first-child > a {
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#menu ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 30px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #444;
}
#menu ul ul li:first-child a:after {
  left: 150px;
  top: 12px;
  width: 0;
  height: 0;
  border-left: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 8px solid #444;
}
#menu ul li:last-child > a {
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* Clear floated elements */

#menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html #menu {
  zoom: 1;
}
/* IE6 */

*:first-child+html #menu {
  zoom: 1;
}
/* IE7 */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/*////////END MENU//////////*/

.password {
  position: relative;
}
.password img {
  position: absolute;
  top: 3px;
  left: 122px;
  height: 20px;
  width: 20px;
}

@media (min-width: 768px) {
  .sm-visible {
    display: none !important;
  }
}

/* Media queries for mobile devices */

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {font-size: 21px;}
  h3 {font-size: 16px;}
  #sidebar .buttons img {
    margin-left: 104px;
  }
  input, select {
    font-size: 14px;
  }
  .sm-hidden {
    display: none !important;
  }
  #menu a {
    font: bold 13px/25px Arial, Helvetica;
    padding: 10px;
  }
  .container {
    width: auto;
  }
  #page {
    padding-top: 40px;
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    z-index: 998;
  }
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    z-index: 999;
  }
  #menu:hover {
    top: 40px;
  }
  #menu:before {
    content: '☰';
    height: 40px;
    display: block;
    color: white;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    text-align: right;
    padding: 0 5px;
    background-color: #3d3b3b;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0s 0.1s;
    z-index: 1;
  }
  #menu:hover:before {
    top: -40px;
    visibility: hidden;
    transition: all 0s 0.1s, top 0s 0s;
  }
  #menu:after {
    content: '×';
    height: 40px;
    display: block;
    color: white;
    font-size: 35px;
    line-height: 40px;
    text-align: right;
    padding: 0 7px;
    background-color: #3d3b3b;
    pointer-events: none;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  #menu:hover:after {
    top: -40px;
    z-index: 1;
  }
  #menu li {
    display: none;
  }
  #menu ul {
    position: initial;
    background: #2f2e2e;
    box-shadow: none;
    border-radius: 0;
  }
  #menu ul a {
    width: auto;
  }
  #menu ul li:first-child > a:after {
    display: none;
  }
  #menu:hover li {
    display: block;
  }
  #sidebar {
    float: none;
    width: auto !important;
    margin: 0;
    padding: 30px;
    text-align: center;
  }
  #sidebar table {
    margin: 5px auto;
  }
  #content {
    float: none;
    width: auto !important;
    padding: 30px;
  }
}
