@charset "utf-8";
/* ====================
--------------------------------------------------------------
	++++General Styles++++
	++++Grid++++
	++++Typography++++
	++++Content Styles++++
	++++Navigation++++
	++++About++++
	++++CSS Animation++++
	++++Media++++
	++++Retina++++
*/

/* ====================
General Style
--------------------------------------------------------------*/
html{
	height:100% !important;
	overflow-x:hidden;
}
body{
	margin:0;
	font-family: "Fjalla One", Helvetica, Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:1.5;
	text-align:center;
	height:100%;
	color:#666;	
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background:#fff;
}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
::selection {background: #292929; color:#fff;}
::-moz-selection {background: #292929; color:#fff;}

/* ====================
Grid
--------------------------------------------------------------*/

@media screen and (min-width: 740px) {
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-half,.grid-full {width: 96.969696969697%;margin: 0 1.515151515152%;float:left;}
.grid-half {width: 46.969696969697%;margin: 0 1.515151515152%;}
}

@media screen and (min-width: 740px) {
  .grid-1     { width: 13.636363636364%; }
  .grid-2     { width: 30.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }
}

/* ====================
Typography
--------------------------------------------------------------*/

h1 {
	font-size: 4.2em;
	letter-spacing: 0.10em;
	font-weight: 300;
}
h2 {
	font-size: 2.2em;
	letter-spacing: 0.10em;
	font-weight: 100;
}
h3 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	font-weight: 200;
}
h4 {
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: 200;	
}
h5 {
	font-size: 0.8em;
	font-weight: 200;
}
h6 {
	font-size: 0.6em;
	text-transform: uppercase;
	font-weight: 200;
}
.link{
	position:relative;
	background:#292929;
	padding:6px 8px;
	font-family: 'Open Sans', sans-serif; 
	color:#fff;
	font-size:12px;
	position:relative;
}
.link::before,
.link::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #666;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.link::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.link::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.link:hover::before,
.link:hover::before,
.link:hover::after,
.link:hover::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.link:hover{
	background:#fff;
	color:#666;
}
/* ====================
Content Styles
--------------------------------------------------------------*/

#main{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	opacity:1;
}
.clear{
	float:none;
	clear:both;
}
.content{
	width:100%;
	float:left;
	position:relative;
	z-index:4;
}
.container{
	max-width:1200px;
	margin:0 auto;
	position:relative;
	z-index:5;
	padding:0 10px;
}
.container p{
	max-width:800px;
	margin:0 auto;
}
.respimg{
	width:100%;
	height:auto;
}
.secction,
.sections{
	float:left;
	width:100%;
	position:relative;
}
.bg{
	background-size: cover;
	background-position: top;
}
.parallax {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
}
.overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.5;
	z-index:3;
}
.dark-overlay{
	background:#292929 url(../images/raster.png);
}
.white-bg{
	background:#fff !important;
}
.color-white{
	color:#fff;
}

.sub-title{
	color:#ff6103;
}

.separator{
	width:250px;
	margin:30px auto 40px;
	position:relative;
}
.left-line {
	position:absolute;
	top:0;
	left:0;
	width:120px;
	height:1px;
	background:#666;
	z-index:1;
}
.right-line {
	position:absolute;
	top:0;
	right:0;
	width:120px;
	height:1px;
	background:#666;
	z-index:1;
}
.rhombus{
	position:absolute;
	top:0;
	left:50%;
	width:22px;
	height:22px;
	margin-left:-11px;
	margin-top:-11px;
	background:#fff;
	border:1px solid #666;
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	z-index:2;		
}
.right{
	float:right !important
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom:20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loader{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff url(../images/loader.GIF) no-repeat  center;
	z-index:100;
}



/* ====================
intro
--------------------------------------------------------------*/
#intro{
	height:100%;
}
#top-slide{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5;
}
#top-slide .container{
	margin-top:15%;	
}
#top-slide h1{
	color:#fff;
	font-style: normal;
	font-weight: 300;
	line-height: 1.17em;
	margin: 0 0 20px;
	text-transform: uppercase
}
.top-section{
	background:url(../images/bg/2.jpg);
	background-attachment:fixed;
	z-index:-2;
}
.start{
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:-15px;
	width:30px;
	height:51px;
}
.start span {
	position:absolute;
	bottom:-10px;
	left:50%;
	margin-left:-4px;
	width:8px;
	height:19px;
	background: url(../images/start-arrow.png) no-repeat center;
	animation: updown 1s forwards;
    -webkit-animation: updown 1s forwards;
  	-moz-animation: updown 1s forwards;
	-o-animation: updown 1s forwards;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;  
	-o-animation-iteration-count: infinite;
}
.slider-controls {
	width:100px;
	height:30px;
	position:absolute;
	bottom:90px;
	left:50%;
	margin-left:-50px;
}
.slider-controls li{
	display:inline-block;
}
.slider-controls li a{
	color:#fff;
	font-size:24px;
	padding:10px;
}

/* ====================
Ajax style
--------------------------------------------------------------*/

.white-popup-block{
	max-width:100%;
	display:block;
	margin:0 auto; 
	padding:0 0 10px;
	position:relative;
	z-index:2;
}
.project-images{
	width:90% !important;
	padding:120px 0 90px; 
	margin:0 auto; 
}
.slider-content{
	position:relative;
	float:left;
	width:100%;
}
.white-popup-block  h2{
	font-size: 2.3em;
	color: #666;
	font-style: normal;
	font-weight: 300;
	line-height: 1.17em;
	padding:60px 1.5% 0;
	text-transform:uppercase;
}
.project-info{
	margin-top:50px;
}
.white-popup-block  p {
	padding:60px 1.5% 0;
	text-align:left;
}
.only-images img{
	margin-bottom: 3% ;
}
#project-slider{
	cursor:move;
}
.images-separator{
	margin-top:1.5%;
}
.white-popup-block a.lanch-button{
	width:150px;
	margin:30px auto;
	padding:10px 30px;
}
.project-meta {
	padding-bottom:50px;
}
.hidden , .box-anim{
	opacity: 0.4;
	-webkit-transform: rotateX(360deg) scale(0.4);  
    -moz-transform: rotateX(360deg) scale(0.4);  
    -ms-transform: rotateX(360deg) scale(0.4);   
    -o-transform: rotateX(360deg) scale(0.4);   
    transform: rotateX(360deg) scale(0.4);	
}


/* ====================
Footer
--------------------------------------------------------------*/

.footer{
	background:#f9f8f7;
	color:#292929;
	padding:50px 0;
}
.social-list {
	margin:25px auto;
}
.social-list li{
	padding:8px;
	display:inline-block;
}
.social-list li a {
	color:#fff;
	position:relative;
	display:block;
	padding:5px 0;
}
.social-list li a::before,
.social-list li a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.social-list li a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.social-list li a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.social-list li a:hover::before,
.social-list li a:hover::before,
.social-list li a:hover::after,
.social-list li a:hover::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.footer-separator{
	width:150px;
	height:1px;
	margin:10px  auto;
	background:#fff;
}
.footer p {
	padding-top:15px;
	color:#292929;
	font-size:12px;
}

/* ====================
CSS animation
--------------------------------------------------------------*/

.transition{
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}
@keyframes updown {
	0%   {bottom:0;}
	50%   {bottom:-10px;}
	100% {bottom:0;}
}

@-webkit-keyframes updown {
	0%   {bottom:0;}
	50%   {bottom:-10px;}
	100% {bottom:0;}
}

@-moz-keyframes updown {
	0%   {bottom:0;}
	50%   {bottom:-10px;}
	100% {bottom:0;}
}

@-o-keyframes updown {
	0%   {bottom:0;}
	50%   {bottom:-10px;}
	100% {bottom:0;}
}