/*TOC===========================================
1.General styles
2.Typography
3.Grid
4.Preloader
5.Content styles
6. ticker-bg
7.Header
8.About Me
9.Testimonials
10.Our work
11.Resume
12.Footer
13.Responsive Styles
------------------------------------------------*/


/*===========================================
1.General styles
_______________________________________________*/

*{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html{
	overflow-x:hidden;
	height:100%;
}

body{
	position:relative;
	font-family:'Gilroy',sans-serif;
	font-size:14px;
	line-height:1.6;
	color:#000000;
	background-color:#fff;
	text-align:center;
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	z-index:0;
}

::-moz-selection{color:#fff;background-color:#292929;}
::selection{color:#fff;background-color:#292929;}


/*===========================================
2.Typography
_______________________________________________*/

h1{
	font-size:4.2em;
	letter-spacing:0.10em;
	font-weight:300;
}

h2{
	font-size:3.2em;
	letter-spacing:0.10em;
	font-weight:300;
}

h3{
	font-size:2.0em;
	letter-spacing:0.10em;
	font-weight:200;
	text-transform:uppercase;
}

h4{
	font-size:1.0em;
	letter-spacing:0.10em;
	font-weight:200;
	text-transform:uppercase;
}

h5{
	font-size:0.8em;
	letter-spacing:0.10em;
	font-weight:200;
	text-transform:uppercase;
}

h6{
	font-size:0.6em;
	letter-spacing:0.10em;
	font-weight:200;
	text-transform:uppercase;
}


a{
	text-decoration:none;
}

/*===========================================
3.Grid
_______________________________________________*/

.container{
	width:90%;
	max-width:1200px;
	margin:0px auto;
	position:relative;
	z-index:5;
}

.grid-row{
	position:relative;
}

.container:before,
.container:after,
.grid-row:before,
.grid-row:after{
	content:"";
	display:table;
}

.container:after,
.grid-row:after{
	float:none;
	clear:both;
}


.grid-1, .grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-one-quarter, .grid-one-fifth, .grid-half,.grid-full{
	margin:0 1%;
	width:98%;
	float:none;
	}


@media screen and (min-width:740px){
	
	.grid-1{width:14.666667%;float:left}
	.grid-2{width:31.333333%;float:left}
	.grid-half,
	.grid-3{width:48%;float:left}
	.grid-one-quarter{width:23%;float:left}
	.grid-one-fifth{width:18%;float:left}
	.grid-4{width:64.666667%;float:left}
	.grid-5{width:81.333333%;float:left}
	.grid-6,
	.grid-full{width:98%;float:left}


.grid-offset-1{margin-left:13.666667%;float:left;}
.grid-offset-2{margin-left:30.333333%;float:left;}
.grid-offset-3{margin-left:47%;float:left;}
.grid-offset-4{margin-left:63.666667%;float:left;}
.grid-offset-5{margin-left:80.333333%;float:left;}

}


/*===========================
4.Preloader styles
________________________________________________________*/ 

#jpreOverlay{background-color:#fff;}

#jpreLoader{
	    position:relative;
	    width:600px;
		height:200px;
		margin:0 auto;
}

#jpreBar{
	    position:fixed;
		top:0;
		left:0;
		width:100%;
		height:3px !important;
		background-color:#292929;
}


#jprePercentage{
	            font-family:"Times New Roman",Times,serif;
				font-size:18px;
				font-style:italic;
}

/*===========================================
5.Content styles
_______________________________________________*/

#main{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
}

/*.container p{
	max-width:600px;
	margin:0px auto;
}*/


p{
	margin-bottom:10px;
}
.content{
	position:relative;
	width:100%;
	z-index:4;
}

 section .content,
.section .content{
	padding:20px 0px;
}

.section-title {
    letter-spacing: 0.0115em;
    text-transform: capitalize;
    line-height: 1.20;
    margin-bottom: 20px;
}


.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}

.text-white{color:#fff;}
.theme-text{color:#BAFF79;}

.bg-white{background-color:#fff;}
.bg-light{background-color:#f2f3f1;}
.bg-dark{background-color:#292929;}
.bg-blue{background-color:#3A7FFE;}

.parallax{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	background-attachment:fixed;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
}

.bg{
	background-size: cover;
	background-position: top;
}

.overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
	opacity:0.5;
	z-index:3;
}


.dark-overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#292929;
	opacity:0.6;
	z-index:3;
}

.img-resp{
	max-width:100%;
	height:auto;
}


.separator{
	position:relative;
	width:220px;
	height:1px;
	background-color:#292929;
	margin:10px auto 30px auto;
}

.separator:after{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:22px;
	height:22px;
	border:1px solid #292929;
	background-color:#fff;
	margin:-11px 0px 0px -11px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}


.bg-light .separator:after{
	border:1px solid #292929;
	background-color:#f2f3f1;
}


.bg-dark .separator{
	background-color:#fff;
}
.bg-dark .separator:after{
	
	border:1px solid #fff;
	background-color:#292929;
}

.translucent-bg-11{
	opacity:0.11;
}

.translucent-bg-19{
	opacity:0.19;
}

.translucent-bg-29{
	opacity:0.29;
}

.translucent-bg-39{
	opacity:0.39;
}


.btn{
	display:inline-block;
	margin:5px 0px;
	padding:10px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#fff;
	color:#212121;
	font-weight:600;
}


/*===========================================
6. ticker-bg
_______________________________________________*/


#ticker-bg{
	position:relative;
	height:600px;
	color:#fff;
	text-align:center;
}

#ticker-bg .content{
	padding:170px 0px;
}

.intro-bg{
	   background-image:url('../images/bg/ais-hero5.jpg');
	   background-size:cover;
	   
}

#ticker-bg h2,
#ticker-bg h3
{
	font-size:40px;
	color:#fff;
	line-height:1.2;
	letter-spacing: 0.02em;
}

.ticker-top,
.ticker-bottom
{
	width:350px;
	margin:0px auto;
	height:1px;
	background-color:#fff;
}

#text-ticker{
	text-align:left;
	margin-bottom:20px;
}

/*===========================================
7.Header
_______________________________________________*/

#header-sticky-wrapper{
	height:0px;
}

#header{
	position:fixed;
	top:40px;
	left:0;
	width:100%;
	height:65px;
	z-index:10;
}

.header-container{
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:65px;
	padding:8px 40px 8px 40px;
	background-color:#808080;
	opacity:0.90;
	border-radius:10px;
	z-index:10;
}

#mobile-menu,
.nav-button{
	display:none;
}

.logo{
	float:left;
	margin:0px auto;
	max-width:50px;
}


.link-holder{
			 position:relative;	
			 width:75%;
			 text-align:center;
}

.link-holder ul li{
	display:inline-block;
	position:relative;
}


.link-holder ul li.current a{
color:#BAFF79;
}



.link-holder ul li a{
	display:block;
	padding:12px 12px;
	color:#fff;
	font-family:"Open Sans",sans-serif;
	font-size:15px;
}

#search-bar{
	    float:right;
}

#search-bar input{
	          height: 48px;
			  -webkit-border-radius:50px;
              border-radius: 50px;
}


/*===========================================
8.Clients
_______________________________________________*/

#clients .content{
	padding:50px 0px;
}
.clients-parallax{
	background-image: url('../images/letters-bg/brands-bg.png');
}


/*===========================================
9.testimonials
_______________________________________________*/

#testimonials{
			background-color:#fff;
}

.testimonials-slider{
	margin:0px 0px 30px 0px;
	color: #fff;
	padding:50px 50px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

.testimonials-slider p.main-text{
	font-size:2em;
	margin-bottom:50px;
	min-height:130px;
}


.testimonials-slider img{
	max-width:70px;
	-webkit-border-radius:50%;
	border-radius:50%;
	display: inline-block;
    vertical-align: middle;
}


#testimonials .service-name,
#testimonials .service-desc{
	display:block;
}

/*===========================
10. Our Work
________________________________________________________*/

#options{
	margin:0px 0px 20px 0px;
	}

#portfolio_container .mix{
	opacity:0;
	display:none;
}

#options li.filter{
	display:inline-block;
	color:#fff;
	font-family:"Times New Roman",Times,serif;
	font-style:italic;
	font-size:18px;
	padding:6px 12px;
	cursor:pointer;
	margin:0px 0px 5px 0px;
}


/*===========================
11.Resume
________________________________________________________*/

#resume{
	position:relative;
}
.photo-holder{
	position:relative;
	top:0;
	left:0;
	width:150px;
	height:150px;
	margin:-15px auto  50px  auto;
	border:6px solid #d1c7ab;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	overflow:hidden;
	cursor:pointer;
	
}

.photo-holder img{
	transition:all 1s ease;
}

.photo-holder:hover img{
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-o-transform:scale(1.5);
	-ms-transform:scale(1.5);
	transform:scale(1.5);
}



/* ====================
Contacts
--------------------------------------------------------------*/

#contact{
	color:#fff;
	position:relative;
}


#contact .grid-4  img{
	-webkit-border-radius:10px;
	border-radius:10px;
}

#contact .bg-blue{
	padding:40px 30px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.contact-details{
	margin:50px  auto ;
}

#contact h2{
		font-size:2em;
		line-height:1.2;
		letter-spacing:0.02em;
        }

.contact-details h3 {
	float:left;
	padding:0 10px 10px 0;
	border-bottom:2px solid #fff;}
.contact-form{
	margin:0 auto;
	max-width:800px;
}
.contact-details ul {
	float:left;
	margin-top:40px;
}
.contact-details ul li {
	width:100%;
	margin-bottom:20px;
}
.contact-details ul li i {
	float:left;
	padding:0;
	width:20px;
	height:20px;
	font-size:24px;
}
.contact-details ul li span{
	display:block;
	margin-left:40px;
	text-align:left;
}
/* ======================
12.Contact form
---------------------------*/
#contact_form{
	width: 100%;
	font-size: 11px;
	color: #666666;
	margin:0px auto;
}
#contact_form label input{
	display: block;
}
#contact_form input{
	border:1px solid #fff;
	outline: none;
	padding: 10px;
	float:left;
	width:90%;
	height: 32px;
	background: none;
	-webkit-appearance: none;
	font-size: 1.2em;
	font-weight:300;
	margin-bottom:20px;
	color:#fff;
	-webkit-font-smoothing: antialiased;
}
::-webkit-input-placeholder { 
    color: #fff; text-overflow: ellipsis;
}
:-moz-placeholder { 
    color: #fff !important; text-overflow: ellipsis;
}
::-moz-placeholder { 
    color: #fff !important; text-overflow: ellipsis;
} 
:-ms-input-placeholder { 
    color: #fff !important; text-overflow: ellipsis;
}
.right{
	float:right !important
}
#contact_form textarea{
	background: none;
	border:1px solid #fff;
	color: #fff;
	height:75px;
	width: 100%;
	resize: vertical;
	outline:none;
	margin-top:8px;
	padding:10px;
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
}
#contact_form textarea:focus, #contact_form input:focus {
	color:#fff;
	text-transform: none;
	-webkit-transition: border 0.33s linear;
	-moz-transition: border 0.33s linear;
	-o-transition: border 0.33s linear;
	transition: border 0.33s linear;
}
.submit_btn {
	display:block;
	border: none;
	text-transform:capitalize;
	margin:20px 0px 0px 0px;
	padding: 25px;
	color: #fff;
	background-color:#000;
	width:98%;
	cursor:pointer;
}
.success, .error{
	padding: 10px;
	font-size:16px;
	color:#fff;
	width:100%;
	position:relative;
	border-radius:4px;
}
.error{		
	color:red;
}


/*===========================================
13.FAQ Accordion
_______________________________________________*/


.accordion-container{position:relative;width:100%}
.accordion-container .accordion-item{
	overflow:hidden;
	min-height:70px;
	margin-bottom:10px;
	border-radius:12px;
	color:#fff;
	background-color:#3179FF;
	}
.accordion-container .accordion-item.show{background-color:#3179ff;}
.accordion-container .accordion-item.show .head i:before{content:"-"}
.accordion-container .accordion-item.show 
.body{display:block}

.accordion-container .accordion-item .head{
	display:flex;
	align-items:center;
	justify-content: space-between;
	border-radius:5px;
	padding:12px;
	font-size:16px;
	font-weight:bold;
	cursor:pointer
	}
.accordion-container .accordion-item .head i{
	position:relative;
	width:30px;
	height:30px;
	flex:30px 0 0;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	font-size:20px;
	font-weight:bold;
	border-radius:100%;
	margin-right:10px;
	}
.accordion-container .accordion-item .head i:before{content:"+"}
.accordion-container .accordion-item .body{display:none;overflow:hidden;height:0}
.accordion-container .accordion-item .body .wrapper{position:relative;overflow:hidden;padding:0px 20px 20px 60px;border-radius:5px}
.accordion-container .accordion-item .body .wrapper p{font-family:"Roboto",sans-serif;font-size:14px;margin-bottom:20px}
.accordion-container .accordion-item .body .wrapper a{
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	padding:10px 30px;
	border-radius:60px;
	background-color:#fae898;
	text-align:center;
	font-family:"Roboto",sans-serif
	}


/*===========================================
14.5 Steps
_______________________________________________*/

#steps .grid-one-fifth .content{
	background-color:#f5f5f5;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:25px;
	margin:0px 0px 15px 0px;
}

#steps .number{
	color:#307AFF;
	font-size:3.6em;
	font-weight:700;
	text-align:center;
}

#steps h2,#steps h3{
	text-transform:capitalize;
	letter-spacing:0.02em;
}

/*===========================================
15.footer
_______________________________________________*/

#footer{
	width:100%;
	background-color:#212121;
	color:#fff;
	border-top:1px solid #595959;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6
{
	margin:0px 0px 20px 0px;
}


#footer .social-links li{
	display:inline-block;
	margin:0px 10px 0px 10px;
}

#footer .triangle{
	display: inline-block;
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
    border-left: 10px solid #666;
	margin:0px 5px 0px 0px;
}




/*===========================================
14.Responsive Styles
_______________________________________________*/

@media screen and (max-width:740px){

	#ticker-bg{
		height:auto;
	}
	
	#ticker-bg .content {
    padding: 100px 0px;
   }
    
	#ticker-bg h2, #ticker-bg h3{
			font-size:32px;
	}
	
	.link-holder{display:none;}
	#search-bar{
		float:none;
	}
	
	#mobile-menu .link-holder{
		position:absolute;
		display:none;
		top:100%;
		left:0;
		width:100%;
		margin:-2px 0px 0px 0px;
		background-color:#212121;
		color:#fff;
		}
		
		
	#mobile-menu .link-holder ul li{
		display:block;
		border-bottom:1px solid #313131;
	}
	
	#mobile-menu .link-holder ul li a{
		padding:12px 8px;
		font-size:16px;
	}
	
	
	
	#mobile-menu .link-holder ul li:hover,
	#mobile-menu .link-holder ul li:focus{
		background-color:#666;
	}

	
		
	
	.nav-button{
		display:block;
		position:relative;
		float:right;
		margin:16px 0px;
		cursor:pointer;
	}
	
	.nav-button i{
		color:#fff;
		font-size:24px;
	}
	
	
}
