

body{
	padding:200px 10px;
}

.container{
	max-width:600px;
	margin:0 auto;
}


.accordion{
	position:relative;
	background-color:#292929;
	color:#fff;
	padding:10px 12px;
	margin-bottom:2px;
	border-radius:8px;
}

.accordion + div{
	background-color:#f2f3f1;
	padding:10px 12px;
}

.accordion:hover{
	cursor:pointer;
}


.accordion-close:after{
	content:"+";
	position:absolute;
	top:10px;
	right:20px;
}

.accordion-open:after{
	content:"-";
	position:absolute;
	top:10px;
	right:20px;
}