* {
  font-family: "Readex Pro", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav_link_black {
  color: #242424;
  font-size: 18px;
  line-height: 18.3px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}

.nav_link_black:hover {
  text-decoration: none;
  color: #242424;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 200px;
  overflow: hidden;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.5;
}

.dropdown-toggle::after {
  display: none;
}

.icon_chevron {
  font-size: 12px;
}

.icon_headphone {
  font-size: 18px;
}

.btn-phone {
  background-color: rgb(249, 170, 47);
  color: rgb(246, 246, 246);
  font-size: 15px;
  font-weight: 600;
  height: 59.5px;
  line-height: 25.5px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  text-align: center;
  border-radius: 3px;
  border-bottom: 0;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.btn-container {
  display: block;
}

.btn-phone:hover {
  background-color: rgb(27, 26, 26);
  color: rgb(246, 246, 246);
}

.btn-phone-mobile {
  background-color: rgb(249, 170, 47);
  color: rgb(246, 246, 246);
  font-size: 15px;
  font-weight: 600;
  height: 59.5px;
  line-height: 25.5px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  text-align: center;
  border-radius: 3px;
  border-bottom: 0;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.btn-phone-mobile:hover {
  background-color: rgb(27, 26, 26);
  color: rgb(246, 246, 246);
}

.nav_container_width {
  width: 80%;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 70%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1050;
  transition: right 0.3s ease-in-out;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 15px;
}

.sidebar-menu a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.sidebar-menu a:hover {
  color: #f9aa2f;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: #242424;
  position: relative;
  display: inline-block;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #242424;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  top: 8px;
}

.sidebar.open {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  color: #f9aa2f;
}

@media (max-width: 992px) {
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .navbar-brand {
    flex: 0 0 auto;
  }

  .navbar-brand img {
    max-width: 130px;
    height: auto;
  }

  .btn-container {
    display: none;
  }

  .btn-container-mobile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-phone-mobile {
    font-size: 10px;
    padding: 5px;
    white-space: nowrap;
  }

  .navbar-toggler {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    padding: 10px;
  }

  .navbar-nav {
    display: block;
  }

  .nav-item {
    margin: 10px 0;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 8px;
  }

  .navbar-brand img {
    max-width: 100px;
    height: auto;
  }

  .btn-container-mobile {
    flex: 1;
  }

  .btn-phone-mobile {
    font-size: 14px;
  }

  .hamburger-icon {
    width: 25px;
    height: 3px;
  }

  .hamburger-icon::before,
  .hamburger-icon::after {
    width: 25px;
    height: 3px;
  }
}

/* Footer */

.img_100 {
  width: 100%;
}

.footer {
  color: #f6f6f6;
  position: relative;
  overflow: hidden;
  background-image: url("../images/vector_14.png"),
    url("../images/vector_15.png");
  background-position: top center, top center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  padding: 100px 0;
}

.footer_container {
  width: 65%;
  margin: 0 auto;
}

.footer-headline {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  color: #f6f6f6;
}

.row-border-bottom {
  border-bottom: solid 1px rgb(30, 68, 77);
  padding-bottom: 4%;
}

.btn-quote {
  background-color: #f9aa2f;
  color: rgb(246, 246, 246);
  font-weight: 600;
  border-radius: 3px;
  padding: 18px 30px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.btn-quote:hover {
  background-color: rgb(27, 26, 26);
  color: rgb(246, 246, 246);
  text-decoration: none;
}

.footer a {
  color: #f6f6f6;
  text-decoration: none;
}

.footer .social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #f6f6f6;
}

.footer-logo img {
  max-width: 250px;
}

.footer-col-text {
  font-size: 14px;
}

.footer h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.05);
  color: #333333;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #eaeaea;
}

.footer-bottom a {
  color: #333333;
  text-decoration: none;
}

.footer-bottom p,
.footer-bottom a {
  margin: 0;
}

.footer-bottom .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline-600 {
  font-weight: 600;
  font-size: 24px;
}

.list-400 {
  font-size: 14px;
  font-weight: 500;
}

.list-600 {
  font-size: 16px;
  font-weight: 500;
}

.icon-yellow {
  color: #f9aa2f;
}

@media (max-width: 768px) {
  .footer-headline {
    font-size: 24px;
    text-align: left;
  }

  .footer_container {
    width: 100%;
    padding: 0 15px;
  }

  .footer-logo img {
    max-width: 150px;
    margin-bottom: 20px;
  }

  .footer .social-icons {
    justify-content: left;
    display: flex;
    margin-bottom: 20px;
  }

  .footer h5,
  .footer p {
    text-align: left;
  }

  .footer-bottom .row {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .footer h5 {
    font-size: 18px;
  }

  .footer-headline {
    font-size: 20px;
  }
}

.hero-section {
  position: relative;
  overflow: visible;
  background-color: rgb(22, 120, 144);
  height: 90vh;
  transform: none;
}

.toilets-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.overlay-image {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 300px;
  width: 100%;
}

.review-badge {
  position: absolute;
  bottom: 30%;
  right: -20%;
  width: 23vh;
  height: 23vh;
  background: url("../images/review.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-content {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}

.review-stars {
  color: gold;
  font-size: 24px;
  margin-top: 5px;
}

.review-stars span {
  margin-right: 2px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  max-width: 42%;
  margin-left: 18%;
}

.text-overlay h1 {
  font-size: 48px;
  font-weight: 600;
}

.text-overlay p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1%;
}

.checkbox-img {
  width: 30px;
  height: auto;
}

.mobile-review-badge {
  display: none;
  position: relative;
  text-align: center;
  width: 120px;
  height: 120px;
  background: url("../images/review.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .overlay-image {
    display: none;
  }

  .text-overlay h1 {
    font-size: 34px;
  }

  .text-overlay {
    margin-top: 15%;
  }

  .mobile-review-badge {
    display: flex !important;
    margin: 20px auto 0;
    width: 200px;
    height: 200px;
    background: url("../images/review.png") no-repeat center center;
    background-size: cover;
  }

  .review-content {
    width: 80px;
    height: 80px;
    font-size: 10px;
    color: #000;
  }

  .review-stars {
    font-size: 12px;
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .text-overlay {
    max-width: 80%;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .text-overlay {
    max-width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .text-overlay p {
    font-size: 1rem;
  }
}

.checkbox-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.checkbox-col {
  display: flex;
  align-items: center;
  flex: 1 1 45%;
  margin-bottom: 10px;
}

.custom-checkbox {
  width: 27px;
  height: 27px;
  background-color: #f9aa2f;
  border: 2px solid #f9aa2f;
  border-radius: 3px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox::after {
  content: "✔";
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.checkbox-col p {
  margin: 0;
  font-size: 19px;
  color: #ffffff;
  font-weight: 400;
}

@media (max-width: 768px) {
  .checkbox-row {
    margin-bottom: 0rem;
  }

  .checkbox-col {
    flex: 1 1 100%;
  }

  .custom-checkbox {
    width: 18px;
    height: 18px;
    font-size: 12px;
  }

  .checkbox-col p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .custom-checkbox {
    width: 16px;
    height: 16px;
    font-size: 10px;
  }

  .checkbox-col p {
    font-size: 14px;
  }
}

.step-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 53vh;
  position: relative;
  border-radius: 15px;
}

.yellow-header {
  background-color: #f9aa2f;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.green-header {
  background-color: #23bf62;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.blue-header {
  background-color: #167890;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.icon {
  width: 50%;
  height: auto;
  margin-bottom: -30%;
}

.card-custom-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
}

.title-32 {
  font-size: 32px;
  font-weight: 600;
}

.title-28 {
  font-size: 28px;
  font-weight: 600;
}

.title-24 {
  font-size: 24px;
  font-weight: 600;
}

.a-title-24 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.a-title-24:hover {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.text-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.review-18 {
  font-size: 18px;
  font-weight: 400;
  color: rgb(32, 34, 32);
}

.review-32 {
  font-size: 32px;
  font-weight: 400;
  color: rgb(32, 34, 32);
}

.review-12 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(32, 34, 32);
}

.card-custom-content {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 30px;
}

.card-footer-custom {
  padding: 10px 20px;
  background: none;
  border-top: none;
}

.btn-call {
  background-color: #f9aa2f;
  color: rgb(246, 246, 246);
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10%;
}

.btn-call:hover {
  background-color: rgb(27, 26, 26);
  color: rgb(246, 246, 246);
  text-decoration: none;
}

.background-image {
  position: absolute;
  top: -9%;
  left: 30%;
  background-image: url("../images/orange_porty.png");
  background-size: cover;
  background-position: center;
  height: 62vh;
  width: 53vh;
  z-index: -1;
  border-radius: 15px;
}

.cards-row {
  width: 85%;
}

.step-card-margin {
  margin-top: 10%;
}

@media (max-width: 768px) {
  .step-card {
    flex-direction: column;
  }

  .icon {
    width: 30%;
    margin-bottom: -25%;
  }

  .col-12 {
    width: 50%;
    margin: 0 auto;
  }

  .card-custom-title {
    margin-top: 15%;
  }
  .background-image {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 120%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }

  .cards-row {
    display: flex;
    margin-left: 7%;
  }
}

@media (max-width: 768px) {
  .title-32 {
    margin-top: 15%;
  }

  .wedding-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
}

.blue-container {
  width: 100%;
  background-color: rgb(237, 251, 255);
}

.blue-card {
  background-color: rgb(22, 120, 144);
  border-radius: 15px;
  margin: 0 10px;
  flex: 0 0 calc(25% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

.blue-card p {
  text-align: center;
}

.blue-card-icon {
  width: 33%;
}

.text-18-white {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.text-18-400-white {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
}

.blue-row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .blue-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .blue-card {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
  }
}

.dark-blue-container {
  width: 100%;
  background-color: rgb(22, 120, 144);
}

.title-28-white {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.slider-card {
  display: flex;
  flex-direction: column;
  height: 95vh;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
.slider-card {
  height: 105vh;
	}	
}

.btn-bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #f9aa2f;
  color: rgb(246, 246, 246);
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.btn-bottom-left:hover {
  background-color: rgb(27, 26, 26);
  color: rgb(246, 246, 246);
  text-decoration: none;
}

.btn-bottom-right:hover {
  background-color: rgb(27, 26, 26);
  color: rgb(246, 246, 246);
  text-decoration: none;
}

.slider-card .btn-bottom-right {
  align-self: flex-end;
  margin-top: auto;
  position: relative;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.custom-background-container {
  background-image: url("../images/map.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-content-container {
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  width: 35%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: 40%;
}

.custom-title {
  font-size: 32px;
  font-weight: 600;
}

.custom-service-areas {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.custom-service-areas li {
  margin-bottom: 10px;
  text-align: left;
}

@media (max-width: 1024px) {
  .custom-background-container {
    justify-content: center;
    padding-right: 0;
  }

  .custom-content-container {
    width: 90%;
    margin-left: 0;
    padding: 20px;
  }

  .custom-title {
    font-size: 24px;
  }

  .custom-service-areas {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .custom-background-container {
    justify-content: center;
    padding-right: 0;
  }

  .custom-content-container {
    width: 90%;
    margin-left: 0;
    padding: 20px;
  }

  .custom-title {
    font-size: 24px;
  }

  .custom-service-areas {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .custom-service-areas {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-align: center;
  }
}

.faq-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 25px;
}

.faq-subtitle {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 400;
}

.faq-accordion {
  border-top: 1px solid black;
}

.faq-item {
  border-bottom: 1px solid black;
}

.faq-header {
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #212529;
  background-color: transparent;
}

.faq-body {
  padding: 15px;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
}

.chevron {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.faq-header[aria-expanded="true"] .chevron {
  transform: rotate(-135deg);
}

.orange-porty-images {
  position: relative;
}

.orange-porty-images img {
  border-radius: 15px;
}

.image-orange {
  position: relative;
  z-index: 1;
  top: 80px;
  height: 25vh;
  width: 40vh;
}

.image-yellow-porty {
  position: absolute;
  top: 20px;
  left: 150px;
  z-index: 0;
  height: 40vh;
  width: 90vh;
}

.orange-overlay-text {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.orange-overlay-text p {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
}

.quote-btn-green {
  background-color: rgb(5, 55, 67);
  color: rgb(246, 246, 246);
  font-weight: 600;
  border-radius: 3px;
  padding: 20px 30px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10%;
}

.quote-btn-green:hover {
  background-color: rgb(27, 26, 26);
  color: rgb(246, 246, 246);
  text-decoration: none;
}

@media (max-width: 1024px) {
  .image-orange {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 30vh;
  }

  .orange-overlay-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }

  .quote-btn-green {
    padding: 15px;
  }

  .orange-overlay-text p {
    font-size: 20px;
  }

  .image-yellow-porty {
    position: relative;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20%;
  }
}

@media (max-width: 768px) {
  .image-orange {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 30vh;
  }

  .orange-overlay-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }

  .quote-btn-green {
    padding: 15px;
  }

  .orange-overlay-text p {
    font-size: 20px;
  }

  .image-yellow-porty {
    position: relative;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20%;
  }
}

/* About */

.about-header-section {
  background-image: url("../images/about_background.png");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  padding: 100px;
  height: 40vh;
  margin-bottom: 76.888px;
  background-color: rgb(22, 120, 144);
}

.about-header-content {
  position: relative;
  z-index: 2;
}

.about-title {
  font-size: 56px;
  font-weight: 600;
  justify-content: center;
  margin-top: 3%;
  display: flex;
}

.welcome-p {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

.welcome-hr {
  border: 0;
  height: 1px;
  background-color: black;
}

.services-images {
  position: relative;
}

.services-images img {
  border-radius: 8px;
  width: 100%;
}

.image-1 {
  position: relative;
  z-index: 1;
  top: 50px;
  height: 28vh;
}

.image-2 {
  position: absolute;
  top: 20px;
  left: 150px;
  z-index: 0;
  height: 35vh;
}

.background-wrapper {
  background-color: rgb(237, 251, 255);
  position: relative;
}

.background-wrapper::after {
  content: "";
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: rgb(237, 251, 255);
  z-index: -1;
}

@media (max-width: 768px) {
  .about-title {
    font-size: 36px;
    font-weight: 600;
    justify-content: center;
    margin-top: 3%;
    display: flex;
  }
}

/* Services */

.services-header-section {
  background-image: url("../images/services_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  padding: 100px;
  height: 40vh;
  margin-bottom: 76.888px;
  background-color: rgb(22, 120, 144);
}

.welcome-hr {
  border: 0;
  height: 1px;
  background-color: black;
}
.welcome-p {
  font-size: 28px;
  font-weight: 400;
}

.services-slider-card {
  display: flex;
  flex-direction: column;
  height: 95vh;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
.services-slider-card {
  height: 110vh;
	}	
}

/* Service */

.service-header-section {
  background-image: url("../images/service_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  padding: 100px;
  height: 40vh;
  margin-bottom: 76.888px;
  background-color: rgb(22, 120, 144);
}

.service-img {
  width: auto;
  height: 55vh;
}

.service-header-content {
  position: relative;
  z-index: 2;
  margin-left: 17%;
}

.service-title {
  font-size: 56px;
  font-weight: 600;
  display: flex;
}

.service-yellow {
  font-size: 24px;
  font-weight: 400;
  color: #ff9900;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable-container {
  display: flex;
  gap: 0;
  overflow: hidden;
  width: calc(3 * 40vh);
  justify-content: space-between;
}

.carousel-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.carousel-btn.left {
  margin-right: 10px;
}
.carousel-btn.right {
  margin-left: 10px;
}

.service-btn-call {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #f9aa2f;
  color: rgb(246, 246, 246);
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 30px;
  text-decoration: none;
}

.service-btn-call:hover {
  background-color: rgb(27, 26, 26);
  color: rgb(246, 246, 246);
  text-decoration: none;
}

@media (max-width: 768px) {
  .service-title {
    font-size: 36px;
  }
}

.locations-title {
  font-size: 56px;
  font-weight: 600;
  margin-top: 3%;
  display: flex;
  margin-left: 15%;
}

.custom-location-areas {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.custom-location-areas li {
  margin-bottom: 10px;
  text-align: left;
}

@media (max-width: 768px) {
  .custom-location-areas {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .custom-location-areas li {
    margin-bottom: 10px;
    margin-left: 25px;
    text-align: left;
  }

  .locations-title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
}

/* Contact */

.contact-form-section {
  padding-right: 2rem;
}

.contact-input,
.contact-select,
.contact-textarea {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
}

.contact-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image {
  border-radius: 8px;
}

.black-btn-call {
  background-color: rgb(32, 34, 32);
  color: rgb(246, 246, 246);
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10%;
}

.black-btn-call:hover {
  background-color: rgb(32, 34, 32);
  color: rgb(246, 246, 246);
  text-decoration: none;
}



/* ---------- */

[data-star] {
  text-align:left;
  font-style:normal;
  display:inline-block;
  position: relative;
  unicode-bidi: bidi-override;
  font-size: 25px;
}
[data-star]::before { 
  display:block;
  content: '★★★★★';
  color: #595959;
}
[data-star]::after {
  white-space:nowrap;
  position:absolute;
  top:0;
  left:0;
  content: '★★★★★';
  width: 0;
  color: #ff8c00;
  overflow:hidden;
  height:100%;
}

[data-star^="0.1"]::after{width:2%}
[data-star^="0.2"]::after{width:4%}
[data-star^="0.3"]::after{width:6%}
[data-star^="0.4"]::after{width:8%}
[data-star^="0.5"]::after{width:10%}
[data-star^="0.6"]::after{width:12%}
[data-star^="0.7"]::after{width:14%}
[data-star^="0.8"]::after{width:16%}
[data-star^="0.9"]::after{width:18%}
[data-star^="1"]::after{width:20%}
[data-star^="1.1"]::after{width:22%}
[data-star^="1.2"]::after{width:24%}
[data-star^="1.3"]::after{width:26%}
[data-star^="1.4"]::after{width:28%}
[data-star^="1.5"]::after{width:30%}
[data-star^="1.6"]::after{width:32%}
[data-star^="1.7"]::after{width:34%}
[data-star^="1.8"]::after{width:36%}
[data-star^="1.9"]::after{width:38%}
[data-star^="2"]::after{width:40%}
[data-star^="2.1"]::after{width:42%}
[data-star^="2.2"]::after{width:44%}
[data-star^="2.3"]::after{width:46%}
[data-star^="2.4"]::after{width:48%}
[data-star^="2.5"]::after{width:50%}
[data-star^="2.6"]::after{width:52%}
[data-star^="2.7"]::after{width:54%}
[data-star^="2.8"]::after{width:56%}
[data-star^="2.9"]::after{width:58%}
[data-star^="3"]::after{width:60%}
[data-star^="3.1"]::after{width:62%}
[data-star^="3.2"]::after{width:64%}
[data-star^="3.3"]::after{width:66%}
[data-star^="3.4"]::after{width:68%}
[data-star^="3.5"]::after{width:70%}
[data-star^="3.6"]::after{width:72%}
[data-star^="3.7"]::after{width:74%}
[data-star^="3.8"]::after{width:76%}
[data-star^="3.9"]::after{width:78%}
[data-star^="4"]::after{width:80%}
[data-star^="4.1"]::after{width:82%}
[data-star^="4.2"]::after{width:84%}
[data-star^="4.3"]::after{width:86%}
[data-star^="4.4"]::after{width:88%}
[data-star^="4.5"]::after{width:90%}
[data-star^="4.6"]::after{width:92%}
[data-star^="4.7"]::after{width:94%}
[data-star^="4.8"]::after{width:96%}
[data-star^="4.9"]::after{width:98%}
[data-star^="5"]::after{width:100%}

@media (max-width: 768px) {
	[data-star] {
		font-size:20px
	}
}



/* map embed */
.holder {
  position: relative
}

.mapembed
{
  width: 100%;
  height: 100%;	
}
.frame {
  width: 100%;
  height: 100%;
}

.vague {
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .4;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 10px;
}
/* end of map embed */